<footer>
  <div class="footer py-2 text-xs-center text-light bg-dark abajo">
    <div class="container" style="font-style: italic;">
  
      <div class="zolo_footer_container_area " id="none">
        <div class="footer" data-parallax=""> 
          <div class="footer-widgets footer_layout_columns_3">
            <div class="zolo-container">
              <div class="zolo_footer_padding">
                <div class="row">
                  <div class="col-xl-4 col-sm-6 col-md-3">
                    <aside id="zolo_about_me-widget-2" class=" widget zolo_about_info"> 
                      <h3 class="zolo-title widget-title">
                        <span>Bienvenidos a Programación para aprender</span>
                      </h3>
                      <div class="zolo-about-me style-default avtar-style-circle">
                        <div class="zolo-about-me-header clr">
                        <h3 class="zolo-about-me-name"></h3>
                        </div>
                        <div class="zolo-about-me-text clr">Nuestras redes sociales</div>
                        <nav class="navbar navbar-expand-lg">
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto  text-light">
                              <li class="nav-item col-xl-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                <a target="_blank" href="https://www.facebook.com/ProgramacionParaAprender">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                              </li>
                              <li class="nav-item col-xl-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                <a target="_blank" href="https://twitter.com/ProgramacionPa1">
                                  <i class="fab fa-twitter"></i>
                                </a>
                              </li>
                              <li class="nav-item col-xl-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                <a target="_blank" href="https://www.instagram.com/programacionparaaprender/">
                                  <i class="fab fa-instagram"></i>
                                </a>
                              </li>
                              <li class="nav-item col-xl-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                <a target="_blank" href="https://www.linkedin.com/company/programacionparaaprender/?viewAsMember=true">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                              </li>
                              <li class="nav-item col-xl-2 col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                <a target="_blank" href="https://programacionparaaprender.wordpress.com/">
                                  <i class="fab fa-wordpress"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                    </aside>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-md-3">
                    <aside id="zolo_custom_menu-widget-2" class=" widget zolo_custom_menu"> 
                      <h3 class="zolo-title widget-title">
                        <span>Bienvenidos a Programación para aprender</span>
                      </h3>
                      <div class="zolo-about-me-text clr">Contactos</div>
                      <nav class="apress-widget-menu-vertical one">
                        <ul id="menu-diseno-web" class="menu">
                          <li 
                          *ngFor="let casa of contactosjs"
                         
                            class="nav-item">
                            <a class="nav-link  text-light"
                            href="{{casa.href}}">
                            {{casa.nombre}} - {{casa.titulo}}
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </aside>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-md-3">
                    <aside id="contact_info-widget-2" class="widget contact_info_widget">
                      <h3 class="widget-title footer_widget_title">
                        <span>Bienvenidos a Programación para aprender</span>
                      </h3> 
                      <!-- <ul class="contact-info-container">
                        <li class="address"><span class="contact_info_label"></span><span class="contact_info_value"></span></li>
                        <li class="phone"><span class="contact_info_label"></span><span class="contact_info_value"></span></li>
                        <li class="mobile"><span class="contact_info_label"></span><span class="contact_info_value"></span></li>
                        <li class="email">
                          <span class="contact_info_label"></span> 
                          <span class="contact_info_value">
                            
                          </span>
                        </li>
                        <li class="web">
                          <span class="contact_info_label"></span>
                          <span class="contact_info_value">
                            <a 
                              href="https://programacionparaaprender.github.io/mi-pagina-web/" 
                              target="_blank">https://programacionparaaprender.github.io/mi-pagina-web/
                            </a>
                          </span>
                        </li>
                      </ul> -->
                    </aside>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div class="copyright_wrap">
          <div class="copyright ">
            <div class="zolo-container">
              <div class="zolo_copyright_padding">
                <div class="copyright_social">
                  <div class="zolo-social "> 
                    
                  </div> 
                </div>
      
      </div>
      </div>
      </div>
      </div>
    
    </div>
    <div class="text-center">
      <p>2023 © Programación para aprender</p>
    </div>
    </div>
  </div>
</footer>