<header class="container-fluid" style="font-style: italic;">
  <!-- nav siga a la pantalla fixed-top  -->
  <nav 
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="./assets/images/principal.jpg" width="50" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/maestria-sanmarcos">Maestría</a>
          </li>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Exercises
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="'/legs'">Legs</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Ankles</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="'/arms'">Arms</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Chest</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">ABS</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Posterior biceps</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Shoulders</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Back</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Triceps</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Biceps</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Cuadriceps</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Glutes</a>
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Java
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="'/quarkus'">Quarkus</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Spring cloud</a>
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Angular 9.x, 11.x, 15.x
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="'/contador'">Contador</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="'/masteraspnet'">Master asp.net</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Directivas</a>
                </ul>
              </li>
            </ul>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cursos
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a 
            *ngFor="let casa of cursosjs"
              target="{{casa.target}}" 
              class="dropdown-item" 
              href="{{casa.href}}">
              {{casa.nombre}}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a 
            *ngFor="let casa of proyectos_realizados_luis"
              target="_blank" 
              class="dropdown-item" 
              href="{{casa.href}}">
              {{casa.nombre}}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Agencia
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a class="dropdown-item" href="agencia_empresas">Empresas</a>
            <a class="dropdown-item" href="agencia_profesionales">Profesionales</a>
            <a class="dropdown-item" href="agencia_emprendedores">Emprendedores</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contactos
          </a>
          <div id="headerContactosId" class="dropdown-menu" aria-labelledby="navbarDpdContactos">
            <a  *ngFor="let casa of contactosjs" class="dropdown-item" href="{{casa.href}}">{{casa.nombre}} - {{casa.titulo}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto_empresa">Acerca de</a>
        </li>

        </ul>
        <form class="d-flex fst-italic">
          <input 
            id="iBuscar"
            name="nBuscar"
            class="form-control me-2 fst-italic" 
            type="search" 
            placeholder="Buscar" 
            aria-label="Search">
          <button 
            class="btn btn-outline-secondary fst-italic" 
            type="submit">
              Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>

</header>
