<div>
    <div class="class5rem"></div>
    <h1>{{ title }}</h1>
    <p>{{descripcion}}</p>
    <p>{{partesentrenar}}</p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let link of links">
            <a href="{{ link.url }}">{{link.name}}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ links[0].url }}">{{links[0].name}}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ links[1].url }}">{{links[1].name}}</a>
        </li>
      </ul>
</div>