<section>
<!-- zona del banner -->
<app-banner></app-banner>

<!-- zona de los servicios -->
<app-servicios-contacto></app-servicios-contacto>

<!-- zona del carrusel --> 


<!-- Zona de los integrantes del proyecto --> 
<app-nosotros></app-nosotros>

<!-- Zona de los proyectos -->
<app-proyectos></app-proyectos>

<!--
<div ng-include="'template/banner.html'"></div>

 zona de los servicios 

 zona del carrusel 
 <div ng-include="'template/carrusel.html'"></div> 

 Zona de los integrantes del proyecto 
<div ng-include="'template/nosotros.html'"></div>

 Zona de los proyectos 
<div ng-include="'template/proyectos.html'"></div>
-->
</section>
