<style>
  
    .banner{
      background: url(./assets/images/banner\ web2.jpg);
      height: 30rem;
      width: 100%;
    }
    
    </style>
    <div class="container-fluid">
      <div class="jumbotron p-0">
            <div class="banner">
              <h2 
                style="color:white;font-weight: bold; font-style: italic; display: flex; justify-content: center;align-items: center;">
                <p>
                  Promoción y desarrollo web de aplicaciones de calidad
                </p>
                <p>
    
                </p>
              </h2>
            </div>
            
    </div>
    </div>