
/*@import "~bootstrap/dist/css/bootstrap.css";*/
@import url("./../../node_modules/bootstrap/dist/css/bootstrap.css");

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.bodyotr {
    grid-gap: 4rem;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
}

body {
    height: 100vh;
    display: grid;
    grid-gap: 4rem;
    grid-template-rows: auto auto auto;
}

header {
    grid-area: header;
}

section {
    grid-area: contenido;
}

footer {
    grid-area: footer;
}

