<div class="classCentrar"></div>
<br />
<!-- Page content -->
<div>
  <aside id="aside1" class="sidebar">
    <header>
      <button
        type="button"
        className="sidebar-burger"
        (click)="toggleSidebar()"
      >
        <i class="ai-three-line-horizontal"></i>
      </button>
      <img class="etexto" src="./../../assets/logo.svg" />
    </header>
    <ul>
      <li>
        <button type="button" id="bdash" (click)="onClick('bhome')">
          <i class="ai-home-alt1"></i>
          <p class="etexto">Home</p>
        </button>
      </li>
      <li>
        <button type="button" id="bdash" (click)="onClick('bdash')">
          <i class="ai-dashboard"></i>
          <p class="etexto">Dashboard</p>
        </button>
      </li>
      <li>
        <button type="button" id="bsettin" (click)="onClick('bsettin')">
          <i class="ai-gear"></i>
          <p class="etexto">Settings</p>
          <i class="ai-chevron-down-small etexto"></i>
        </button>
        <div class="sub-menu etexto">
          <ul>
            <li>
              <button type="button">Display</button>
            </li>
            <li>
              <button type="button">Appearance</button>
            </li>
            <li>
              <button type="button">Preferences</button>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <button type="button" id="bcre" (click)="onClick('bcre')">
          <i class="ai-folder-add"></i>
          <p class="etexto">Create</p>
          <i class="ai-chevron-down-small etexto"></i>
        </button>
        <div class="sub-menu etexto">
          <ul>
            <li>
              <button type="button">Article</button>
            </li>
            <li>
              <button type="button">Document</button>
            </li>
            <li>
              <button type="button">Video</button>
            </li>
            <li>
              <button type="button">Presentation</button>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <button type="button" id="bprofile" (click)="onClick('bprofile')">
          <i class="ai-person"></i>
          <p class="etexto">Profile</p>
          <i class="ai-chevron-down-small etexto"></i>
        </button>
        <div class="sub-menu etexto">
          <ul>
            <li>
              <button type="button">Avatar</button>
            </li>
            <li>
              <button type="button">Theme</button>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <button type="button" id="bnoti" (click)="onClick('bnoti')">
          <i class="ai-bell"></i>
          <p class="etexto">Notifications</p>
        </button>
      </li>
      <li>
        <button type="button" id="bproduc" (click)="onClick('bproduc')">
          <i class="ai-cart"></i>
          <p class="etexto">Products</p>
        </button>
      </li>
      <li>
        <button type="button" id="baccount" (click)="onClick('baccount')">
          <i class="ai-lock-on"></i>
          <p class="etexto">Account</p>
        </button>
      </li>
    </ul>
  </aside>
</div>

