
    <section class="container-fluid">
       
      <div class="row" *ngFor="let contacto of contactosjs">
        <!-- <a target="_blank" href="{{contacto.url}}"></a> --> 
            <div class="col-sm-6 col-md-3" *ngIf="contacto.id==2">
              <a target="_blank" href="{{contacto.url}}">
              <img src="{{contacto.img}}" style="width:100%">
              </a>
              <h3>{{contacto.nombre}}</h3>
              <p>{{contacto.titulo}}</p>
              <p>{{contacto.descripcion}}</p>
            </div>
        </div>
    </section>
    
<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">    
    <h1 style="text-align: center;">INGENIERÍA CIVIL</h1>
    <h2>
    PROYECTOS
    </h2>
    <h3>
        <ul>
            <li>Levantamientos</li>
            <li>Documentos</li>
            <li>Diseño y Cálculos</li>
            <li>Planos</li>
        </ul>
    </h3>
    <h2>
    ASESORÍA (A nivel nacional)
    </h2>
    <h3>
        <ul>
            <li>Levantamientos</li>
            <li>Presupuestos</li>
            <li>Precios Unitarios</li>
            <li>Programas de Trabajo</li>
            <li>Obras en Ejecución</li>
        </ul>
    </h3>
</section>

<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">
    <h2 align="center">Proyectos Realizados</h2>
    <br>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-3">
          <div>Summer House</div>
          <img src="w3images/house5.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div>Brick House</div>
          <img src="w3images/house2.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="w3images/house3.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div>Barn House</div>
          <img src="w3images/house4.jpg" style="width:100%">
        </div>
    </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div>Summer House</div>
      <img src="w3images/house2.jpg" style="width:99%">
    </div>
    <div class="col-sm-6 col-md-3">
      <div>Brick House</div>
      <img src="w3images/house5.jpg" style="width:99%">
    </div>
    <div class="col-sm-6 col-md-3">
      <div>Renovated</div>
      <img src="w3images/house4.jpg" style="width:99%">
    </div>
    <div class="col-sm-6 col-md-3">
      <div>Barn House</div>
      <img src="w3images/house3.jpg" style="width:99%">
    </div>
  </div>

